.ub  {border-collapse:collapse;border-spacing:0;}
.ub th {padding:2px 10px;}
.ub .ub-text {font-size: 12px; line-height: 16px; color: #6A7277; font-weight: bold;}
.ub .ub-tip {font-size: 18px; line-height: 16px; color: #6A7277; font-weight: bold;}

.ub td {padding-left: 0px;}

input {
    width: 100%;
}
.publication
{
    width: 90%;
}

.altmetric-badge
{
    width: 10%;
    display: none;
}

.table-matrix
{
    width: 100%;
}

tr:first-child {
    border-bottom: 0px !important;
}

.altmetric-badge a:hover
{
    border-bottom: 0px solid #FFF !important;
}

.altmetriccheckboxlabel {
    text-align: right;
    float:left;
    font-weight: bold;
    color: var(--color-theme);
    cursor: pointer;
}
.altmetriccheck {
    display: block;
}

.togglealt{
    visibility: hidden;
}

#infoicon {
    line-height: 1.375;
    padding-left: 0.2em;
}

.tooltipping {
    float: left;
    position: relative;
    text-align: left;
    cursor: help;
    color: var(--color-theme);
}

.tooltipping .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    font-weight: lighter;
    width: 220px;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 6px;
    box-shadow:2px 2px 3px rgba(0,0,0,.2);
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -120px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltipping .tooltiptext img{
    float: left;
}

.tooltipping:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltipping:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.publicationresultcount{
    display: block;
    padding-left: 0.75rem;
}

.paginationsidebyside {
    padding-left: 0.75rem;
}

.paginationsidebyside li{
    display: inline-block;
    margin: 5px;
}
.activepage{
    border-bottom: 1px solid var(--color-theme);
    color: var(--color-theme);
    font-weight: bold;
}
.threedots{
    color: #003C69;
    font-weight: bold;
}

.content-container{
    max-width:834px /*-- change this to get your desired form width --*/;
    margin:0 auto;
}

#results-container{
    margin-top: 1em;
    padding: 0.65em;
}

.form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex2 {
    flex-grow: 2;
    flex-basis: 50%;
}
.flex1 {
    flex-grow: 1;
    flex-basis: 25%;
}

.input-group { 
    width: 100%;
    padding: 0.65rem;
    float: left;
    flex-direction: column;
}

div.input-group label {
    color: rgb(111, 111, 111);
    display: block;
    font-weight: bold;
    line-height: 1.25rem;
    padding: 0px 0px 0.3125rem;
}

div.input-group input {
    box-sizing: border-box;
    border: 1px solid rgb(111, 111, 111);
    box-shadow: rgb(241, 241, 241) 0px 0px 0.3125rem inset;
    font-size: 1rem;
    height: 30px;
}

div.input-group select {
    background: rgb(241, 241, 241) none repeat scroll 50% 50% / 110%;
    border: 1px solid rgb(211, 217, 219);
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 1rem;
    font-family: "DINPro", helvetica, arial, sans-serif;
}

.altmetric-group { 
    width: 100%;
    padding: 0.65rem;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

select.selectGroup { 
    width: 100%;
    height: 30px;
}

/**---------------- Media query ----------------**/
@media only screen and (min-width: 48em) {
    .column-half{
        width: 50%;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }